/* CSS FOR HEADER COMPONENT */

.header{
    width: 100%;
    position: absolute;
    display: flex;
}

/* CSS for airline logo */
.airline-logo{
    height: 70px;
    margin-top: 2px;
    margin-right: 550px;
}

/* CSS for navbar */
.navItems{
    display: flex;
    padding: 16px;
    margin-top: 10px;
    margin-left: 8%;
    justify-content: flex-end;
}

/* CSS for list items */
li{
    list-style: none;
    margin-right: 35px;
    color: rgb(7, 7, 133);
    font-weight: 500;
}

/* CSS for fontawesome icons */
i{
    font-size: 15px;
    color: rgb(61, 7, 99);
}

/* CSS for lock fontawesome icon */
.fa-lock{
    color: white;
}

/* CSS for link that helps us in moving from one web page to another web page*/
.link{
    text-decoration: none;
}

/* CSS for sign in button */
.signInBtn{
    width: 6%;
    height: 35px;
    background-color: rgb(61, 7, 99);
    border: none;
    border-radius: 5px;
    margin-top: 20px;
}

/* CSS for sign in button text */
.signInBtnText{
    color: white;
    font-size: 15px;
}